<!DOCTYPE html>
<html>
  <head>
    <title>"MyConnectWebhook DocuSign Sample Application"</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="MyConnectWebhook DocuSign Sample Application" />
    <meta property="og:description" content="Discover how the DocuSign Connect webhook service can help you monitor and automate your business processes through real time updates when specific triggering events occur in your workflows." />
    <meta property="og:image" content="/images/MyConnectWebhook_OG.png" />

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){
        w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:';
        j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WPK6FN5');
    </script>
    <!-- End Google Tag Manager -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# if Rails.env.development? %>
      <%#= javascript_include_tag "hotwire-livereload", defer: true %>
    <%# end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
